{% extends 'base/base.html' %}
{% load static %}
<!--领养中心-->
{% block title %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="新乡市小动物保护中心">
<meta name="keywords" content="新乡市小动物保护中心">
<link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/public.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/validate.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-1.js' %}"></script>
{% endblock %}


{% block banner %}
    <div class="main2 clearfix" style=" padding-top:13px;">
        <div class="kiohh" style="margin-bottom: 35px;">
            <img src="{% static 'images/zxczxc8.png' %}">
        </div>
        <div class="clearfix">
            <div class="kokmmm">
                <p>1、申请人必须是年满18周岁的成年人，并且具有完全行为能力。未满18周岁者需由家长（监护人）同意并签字。</p>
                <p>2、领养人一定要真心喜欢狗狗并且有一定的经济实力，最基本的要求是狗狗要有一个温暖的居住所，一日三餐的温饱要保证。</p>
                <p>3、与家人共同居住的申请人，需在征得其他家庭成员同意的情况下领养狗狗。租住他人房屋的申请人，需得到屋主的许可，出具屋主书面许可饲养宠物的信件。</p>
                <p>4、住校的学生请不要申请，一般学校不允许寝室饲养宠物，而且你并不能保障它们的生活。</p>
                <p>5、频繁更换工作地点的人们请慎重考虑，因为你异地搬迁的情况可能会造成它们再次流浪。而且新居所的业主如果对于宠物比较排斥，它们又会继续流浪，除非你能做到不离不弃。</p>
                <p>6、新婚夫妻慎重申请，避免将来以怀孕为名抛弃动物。</p>
                <p>7、有多年养宠物经验者、家中有爱动物老人者优先。</p>
            </div>
            <div class="asdasd">
                <img src="{% static 'images/x10.png' %}">
            </div>
        </div>
    </div>

    <div style=" width:100%; height:297px; text-align:center; margin-bottom:30px;">
        <img src="{% static 'images/c9.png' %}">
    </div>

    <div style="width:100%; height:33px;"></div>
{% endblock %}

