{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<meta name="description" content="新乡小动物保护网">
<meta name="keywords" content="新乡小动物保护网">
<link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/public.css' %}" rel="stylesheet" type="text/css">
    <style>
        .heart{width: 50px;height: 50px}
        .fl{width: 200px;height: 200px}
    </style>
	{% endblock %}

{% block banner %}
	<div class="main">
		<div class="main_h1">
            <img class="heart" src="{% static 'images/heart.png' %}" alt="">
            <img class="heart" src="{% static 'images/heart.png' %}" alt="">
            <img class="heart" src="{% static 'images/heart.png' %}" alt="">
        </div>
		<div class="main_cont2 clearfix">
			<div class="fl"><img src="{% static 'images/E3F08B73B8984AA703BC2B58E30F917F.jpg' %}"></div>
			<div class="main_cont2_fr">
				<p style="color: black">微信：jiujiu009</p>
				<p style="color: black">领养Q群：491267970</p>
				<p style="color: black">咨询Q号：1253686145</p>
				<p style="color: black">捐款咨询微信：jiujiu009</p>
			</div>
		</div>
	</div>
	<div style="width:100%; height:55px;"></div>
{% endblock %}