{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<meta name="description" content="新乡市小动物保护网">
<meta name="keywords" content="新乡市小动物保护网">
<link href="../../static/css/css.css" rel="stylesheet" type="text/css">
<link href="../../static/css/public.css" rel="stylesheet" type="text/css">
<link href="../../static/css/head.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../static/css/validate.css">
<link rel="stylesheet" href="../../static/css/pagination.css">
<script type="text/javascript" src="../../static/js/jquery-1.js"></script>
    {% endblock %}

{% block banner%}

    <div style="width:100%; height:40px;"></div>
    <div class="main clearfix" style=" padding-top:13px; padding-bottom:30px;">
        <div class="kiohh"><img src="../../static/images/ryfws.png"></div>
        <div class="xinwend2">
            <ul class="clearfix" style=" width:1140px;">
                <li class="clearfix">
                    <a href="javascript:;"><img src="../../static/images/goods-01.jpg"></a>
                    <b>狗狗衣服</b>
                    <a href="javascript:;" class="ckxq">购买</a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;"><img src="../../static/images/goods-02.jpg"></a>
                    <b>玩具球球</b>
                    <a href="javascript:;" class="ckxq">购买</a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;"><img src="../../static/images/goods-03.jpg"></a>
                    <b>狗狗毛绒玩具</b>
                    <a href="javascript:;" class="ckxq">购买</a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;"><img src="../../static/images/goods-04.jpg"></a>
                    <b>毛绒玩具</b>
                    <a href="javascript:;" class="ckxq">购买</a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;"><img src="../../static/images/goods-05.jpg"></a>
                    <b>猫咪玩具</b>
                    <a href="javascript:;" class="ckxq">购买</a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;"><img src="../../static/images/goods-06.jpeg"></a>
                    <b>猫窝</b>
                    <a href="javascript:;" class="ckxq">购买</a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;"><img src="../../static/images/goods-07.jpg"></a>
                    <b>狗窝</b>
                    <a href="javascript:;" class="ckxq">购买</a>
                </li>
            </ul>
        </div>
        <div style="width:100%; height:60px;"></div>
        <div class="scott" id="neirong"></div>
    </div>
    <div style="width:100%; height:33px;"></div>

{% endblock %}