{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <link href="{% static 'css/public.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-1.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <!--引用百度地图API-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=u8cfxcjETgPttanqSozYnG6B7lUreLwh"></script>
    <style type="text/css">
        .nav{height: 50px;width: 1200px;margin: auto;}
        .nav ul{display: flex;justify-content: space-between;padding: 0 10px;}
        .nav li{font: 20px/50px "微软雅黑";color: #1D602C;width: 100px;text-align: center;}
        .nav li div{display: none;}
        .nav li:hover{background: #67b168;}
        .nav li:hover a{background: #67b168;color: white}
        .nav li:hover div{display: block;}
        .det{position: absolute;top: 48px;width: 100px;height: 100px;z-index: 99}
        .det p{font: 17px/40px "微软雅黑";color: white;background: #67b168;}

        .map{
            width:100%;
            height:780px;
            min-width: 1200px;
            background:#f1f8ed;
            background-size:100% 848px;
            margin-top: -10px;
        }

        .mapDiv{
            width:100%;
            min-width:1200px;
            height:450px;
            padding-top: 100px;
        }

        .baiduMap{
            width:882px;
            height:377px;
            /*margin-left:-441px;*/
            margin-top:40px;
            background-color: red;
        }

        .addressDiv{
            width:100%;
            min-width:1200px;
        }
        .address{
            width:350px;
            height:160px;
            color: #000;
            line-height:24px;
            font-size:18px;
            font-family:HiraginoSansGB-W3;
            font-weight:bold;
            text-align: center;
        }
        .address p{
            margin-bottom: 16px;
            text-align: center;
        }

    </style>
{% endblock %}
<body  ondragstart="return false">
{% block banner %}
<div class='map'>
    <div class="mapDiv">
        <div class="baiduMap" id="map">
        </div>
    </div>
    <div class="addressDiv">
        <div class="address">
            <p>救助中心</p>
            <p>地址：红旗区河南科技学院</p>
            <p>联系电话：18238693890</p>
        </div>
    </div>
</div>

<script src="{% static '' %}js/jquery-2.1.1.min.js"></script>
<script src="{% static '' %}js/bootstrap.min.js"></script>
<script type="text/javascript">
    /* 百度地图生成 */
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(113.944838,35.286819),18);
    }
    function setMapEvent(){
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
        target.addEventListener("click",function(){
            target.openInfoWindow(window);
        });
    }
    function addMapOverlay(){
        var markers = [
            {content:"河南科技学院",title:"",imageOffset: {width:-46,height:-21},position:{lat:35.286819,lng:113.944838}}
        ];
        for(var index = 0; index < markers.length; index++ ){
            var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
            var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                    imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                })});
            var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
            var opts = {
                width: 200,
                title: markers[index].title,
                enableMessage: false
            };
            var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
            marker.setLabel(label);
            addClickHandler(marker,infoWindow);
            map.addOverlay(marker);
        };
    }
    //向地图添加控件
    function addMapControl(){
        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
        map.addControl(overviewControl);
    }
    var map;
    initMap();

</script>
{% endblock %}